<!doctype html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--css-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"/>
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'app/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'app/css/all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'app/css/main.css' %}" rel="stylesheet" />
    <!-- javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/4.0.0/jquery.min.js" integrity="sha512-8LENNbXmzI/Gbj+OwXmqR6V4QaUAw0/porPzy1+dQoJqC0JPHedWoe0DDOTL2uHA5XXJyIsPtiMHH86pVlay6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    <script src="{% static 'app/js/all.min.js' %}"></script>
    <script src="{% static 'app/js/myscript.js' %}"></script>
    <script src="{% static 'app/js/s3.js' %}"></script>
    <script type="text/javascript">
      var user = "{{ request.user}}"
          function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    </script>
    <title>WED Báng hàng </title>
    <!-- Khai báo Favicon hiển thị trên thẻ trình duyệt -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/images/rong.jpg' %}" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- Đầu  menu-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
    <img src="{% static 'app/images/rong.jpg' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2" style="object-fit: cover; border-radius: 50%;">
    Chào Mừng
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "home" %}">Trang chủ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sản phẩm
            
          </a>
          <ul class="dropdown-menu">
           {% for q in categories %}
            
            <li><a class="dropdown-item" href="{% url "category" %}?category={{q.slug}}">{{q.name}}</a></li>
          {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "home" %}">Thương hiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Liên hệ và hỗ trợ</a>
        </li>
      </ul>
      <form class="d-flex" role="search" method = POST action = "{% url 'timkiem' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search" name = "searched"/>
        <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
      </form>
    </div>
    
      <div class"from-inline my-2 my-lg-0" style = 'visibility: {{user_login}}'>
        <span>Xin chào {{request.user}}</span>
        <span><a href= "{% url 'logout' %}">Thoát</a></span>
      </div>
          <a class="nav-link" href="{% url "cart" %}">Giỏ hàng</a>

        <div class"from-inline my-2 my-lg-0" style = 'visibility: {{user_not_login}}'>

        
          <a class="nav-link" href="{% url "dangnhap" %}">Đăng nhập</a>
        
          <a class="nav-link" href="dangky">Đăng ký</a>
        </div>
    <div class"from-inline my-2 my-lg-0">
      <a herf = "{ % url  'cart' %}"><img id ="cart-icon" src = "{% static "app/images/images.jpg" %}">
      <p id = "cart-total" >{{cartitems}}<p/>
    </div>
</nav>
<!-- THân menu -->
 {% block banner_slider %} {% endblock banner_slider %}
 {% block main-content %} {% endblock main-content %}
 <!--Giao diện cart-->
 {% block cart_content %} {% endblock cart_content %}
 {% block content_checkout %}{% endblock content_checkout %}
  {% block register %} {% endblock register %}
  {% block login %} {% endblock login %}
  {% block search %}{% endblock search %}
 <!-- Chân menu -->
 <footer class="container-fluid bg-success text-center text-white fixed-bottom p-2 mt-5">
    Cảm ơn Quý khách đã ghé thăm website của chúng tôi!
</footer>
    <script src="" async defer></script>
    <!-- sau khi load san pham moi load nut moi hoat dong-->
    <script src="{% static 'app/js/cart.js' %}"></script>
  </body>
</html>
